/*
    --------------------------------------------
*/

#images {
    width: 70rem;
    height: 70rem;
    margin: 5px 10px;
    padding: 0px;
    transition: .5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    backface-visibility:hidden;
}

.jumbotron {
    width:100%;
}

.carousel-inner:hover #images {
    opacity: 0.3;
    transform: scale(1.05);
}

.carousel-inner:hover #titleAuthor {
    opacity: 1;
}

.text {
    background-color: whitesmoke;
    color: black;
    font-size: 1.5em;
    padding: 16px, 32px;
    opacity: 0;
}

.carousel-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#titleAuthor {
    color: gold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#authpicture {
    width: 40rem;
    height: 50rem;
    border-radius: 30px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#authdesc {
    /*background-color: rgba(255, 99, 71, 0.2);*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2em;
    
    color: white;
    padding: 2em;
    flex-wrap: wrap;
}

#authdescbox {
    
}

#aboutBG {
    /*background-image: url("../Images/background.jpg");*/
    /*border:5px;
    border-color: black;
    border-radius: 5px;*/
    border-radius: 30px;
    border: 2px solid #73AD21;
    padding: 0em 35em 0em 0em;
    background-color: rgba(255,255,255, 1);
    background: linear-gradient(to right, white, #28ff034a);
}

#header {
    font-family: Georgia,Times,Times New Roman,serif;
    color: lightgreen;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align: center;
    font-size: 10rem;
}

/*.carousel .item {
    width: 100%;
}

.carousel .item img{
    width: 100%;
}*/
/*
    --------------------------------------------
*/
