@{
    ViewBag.Title = "Alchelle's bio";
}
<div id="aboutBG">
    <div class="carousel-inner">
        <img src="~/Images/authpic.jpeg" id="authpic" />


        <div id="authdescbox">
            <p id="authdesc">
                25 yr old <br />
                    female <br />
                    5'1 <br />
                    kulot salot' <br />
                @*Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.*@

            </p>
        </div>
    </div>
</div>


